body {
    background: url('images/Black_hole_representation.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body,
html {
    overflow:hidden;
}

.box {
    background-color: white;
    padding: 20px;
    overflow: auto; /* Add a scrollbar when the content overflows */
}

.box .main-text, .box .subtext {
    word-wrap: break-word; /* Break words onto the next line */
    margin: 0; /* Remove default margins */
    text-overflow: ellipsis; /* Add an ellipsis when the text overflows */
}

.box .main-text {
    font-size: 24px;
    font-weight: bold;
}

.box .subtext {
    font-size: 16px;
    text-align: justify;
}
/* Article Boxes and Fonts */
.TLeft {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: center;
    width: 20vw;
    height: 20vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.BLeft {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: center;
    width: 20vw;
    height: 20vh;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

.TRight {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: center;
    width: 20vw;
    height: 20vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
}

.BRight {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: center;
    width: 20vw;
    height: 20vh;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}

/*Drop zone css*/
#drop_zone {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}